@using AutoRealmProject
@model IEnumerable<AutoRealmProject.Backend.Entities.CarAd>

@{
    ViewData["Title"] = "Available car ads";
}

<h2>Available car ads</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @HtmlHelpers.FormatPrice(item.Price)
                </td>
                <td>
                    @HtmlHelpers.FormatMileage(item.Mileage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AdId" class="btn btn-sm btn-info">
                        <i class="fa-solid fa-circle-info"></i>
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

